.nav {
  width: 100%;
  padding: 0.4rem 4rem;
  background-color: #11192C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.logo {
  display: flex;
  align-items: center;
}

.logo>svg {
  width: 5rem;
  height: 30px;
}

.infocontainer,
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.infocontainer {
  gap: 1rem;
}

.info>img {
  width: 1.8rem;
  height: 1.8rem;
  /* aspect-ratio: 1/1; */
  border-radius: 2rem;
  margin-right: 10px;
}

.infocontainer>svg {
  width: 2rem;
  height: fit-content;
}