.wrapper {
  max-width: 900px;
  /* width: 900px; */
  width: 40rem;
  background-color: rgba(17, 25, 44, 0.8);
  /* padding: 36px 48px; */
  padding: 1.5rem 2.2rem;
  /* height: 700px; */
  height: 31.75rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* flex-shrink: 1; */
  justify-content: space-between;
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.40), 0px 4px 4px 2px rgba(227, 229, 242, 0.10) inset;
  backdrop-filter: blur(2px);
  margin: 1rem 0rem;
}

.cwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 12px 0;
}

.header input {
  width: 100%;
  background-color: transparent;
  padding: 0.5rem 1rem 0.5rem 0;
  border: none;
  font-size: 1.5rem;
  caret-color: #c2bbf0;
  font-weight: 400;
  margin-bottom: 12px;
  font-weight: 500;
  color: aliceblue;
}

.header input:focus {
  outline: none;
}


.content textarea {
  height: 456px;
  width: 32rem;
  background: transparent;
  border: none;
  resize: none;
  font-family: var(--text-font);
  font-size: 0.75rem;
  margin-top: 12px;
  color: aliceblue;
  line-height: 190%;
}

.content textarea:focus {
  outline: none;
  caret-color: #c2bbf0;
}

.tagbar {
  display: flex;
  width: 100%;
  padding: 0.4rem 1rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.625rem;
  background: rgba(37, 42, 208, 0.70);
}

.tag,
.tagBtn {
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background-color: #C2BBF0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 0.75rem;
}