.btn {
  border: none;
  background-color: #252AD0;
  color: rgb(194, 187, 240);
  font-size: 0.8rem;
  padding: 0.3rem 1.3rem;
  font-weight: bold;
  transition: all 0.5s ease-in;
  border-radius: 0.3rem;
}

.btn:hover {
  color: aliceblue;
  font-weight: 700;
}