/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400&family=Montserrat:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400&family=Montserrat:wght@300;400;500&family=Work+Sans&display=swap');

:root {
  --text-font: 'Merriweather', serif;
  --header-font: 'Montserrat', sans-serif;
  --note-header: 'Work Sans', sans-serif;
  --light-note: #F4F1BB;
  --light-nav: #5E5EDC;
  --light-tag: rgba(37, 42, 208, 0.64);
  --light-tagbar: #C2BBF0;
  --light-bg: #E9E9E9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* all: unset; */
  font: inherit;
  font-family: var(--header-font);
}

.App {
  background-color: #272727;
  height: 100vh;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}